<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-item>
        <ion-label position="floating">Nama produk</ion-label>
        <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Harga</ion-label>
        <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Stok</ion-label>
        <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Berat</ion-label>
        <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Deskripsi produk</ion-label>
        <ion-textarea rows="6" cols="20" placeholder="Masukkan Deskripsi..."></ion-textarea>
    </ion-item>
    <br/>
    <ion-button name="simpan" size="medium" color="dark" expand="block">SIMPAN</ion-button>
</ion-content>
