<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fullconten">
  <div class="kotak_login">
		<img class="tulisan" src="assets/contact.svg" >
 
		<table class="table">
      <tr class="baris">
      <th class="icon"><ion-icon name="person" style="zoom: 2.0" ></ion-icon></th>
      <th><input type="email" name="username" class="form_login" placeholder="Username atau E-mail"></th>
      </tr>
      <tr class="baris">
        <th class="icon"><ion-icon name="key" style="zoom: 2.0"></ion-icon></th>
      <th><input type="password" name="password" class="form_login" placeholder="Password"></th>
      </tr>
    </table>
			<button value="LOGIN">LOGIN</button>
      <br/>
      <p>belum punya akun ? klik <a href="">daftar</a></p>
    
		
	</div>
</ion-content>
