.item-thumbnail-left img{
    width: 100px;
    height: 100px;
}
button{
    border: 5px;
    padding: 5px 4px;
    margin-right:  4px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 10px;
    background-color: black;
    color: beige;

}
