<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >     
  <ion-list>  
      <ion-item class="item-thumbnail-left">   
        <img src="assets/jaket1.jpg">
        <ion-label>
        <h2>Jaket Baseball</h2>
          <h3>Rp. 120.000,-</h3>
        </ion-label>
      <button value="beli">BELI</button>
      <button value="detail">DETAIL</button>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="assets/jaket2.jpg">
        <ion-label>
            <h2>Jaket Parka</h2>
              <h3>Rp. 130.000,-</h3>
            </ion-label>
          <button value="beli">BELI</button>
          <button value="detail">DETAIL</button>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="assets/jaket3.jpg">
        <ion-label>
            <h2> Jaket Sweater</h2>
              <h3>Rp. 145.000,-</h3>
        </ion-label>
          <button value="beli">BELI</button>
          <button value="detail">DETAIL</button>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="assets/jaket4.jpg">
        <ion-label>
            <h2>Jaket Bomber</h2>
            <h3>Rp. 110.000,-</h3>
        </ion-label>
          <button value="beli">BELI</button>
          <button value="detail">DETAIL</button>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="assets/jaket5.jpg">
        <ion-label>
            <h2>Jaket Kulit</h2>
            <h3>Rp. 150.000,-</h3>
        </ion-label>
          <button value="beli">BELI</button>
          <button value="detail">DETAIL</button>
      </ion-item>
</ion-list>
</ion-content>
