<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >     
  <ion-list>  
      <ion-item class="item-thumbnail-left">   
        <img src="assets/jaket1.jpg">
        Jaket Baseball<br/><br/>
        Rp. 120.000,- 
      </ion-item>
      <button value="beli">BELI</button>
       <button value="detail">DETAIL</button>
      <ion-item class="item-thumbnail-left">
        <img src="assets/jaket2.jpg">
        Jaket Parka<br/><br/>
        Rp. 130.000,- 
      </ion-item>
      <button value="beli">BELI</button>
      <button value="detail">DETAIL</button>
      <ion-item class="item-thumbnail-left">
        <img src="assets/jaket3.jpg">
        Jaket Sweater<br/><br/>
        Rp. 145.000,- 
      </ion-item>
      <button value="beli">BELI</button>
        <button value="detail">DETAIL</button>
      <ion-item class="item-thumbnail-left">
        <img src="assets/jaket4.jpg">
        Jaket Bomber<br/><br/>
        Rp. 110.000,- 
      </ion-item>
      <button value="beli">BELI</button>
       <button value="detail">DETAIL</button>
      <ion-item class="item-thumbnail-left">
        <img src="assets/jaket5.jpg">
        Jaket Kulit<br/><br/>
        Rp. 150.000,- 
      </ion-item>
      <button value="beli">BELI</button>
      <button value="detail">DETAIL</button>
</ion-list>
</ion-content>
