<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>keranjang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="content">
        <div class="artikel">
          <div class="img">
            <img src="assets/jaket3.jpg" class="src">
          </div>
          <h3> Jaket Sweater </h3>
        <ion-text>
           Jumlah : <input type="number" value="1" name="jumlah" class="jumlah" placeholder="Jumlah">
        </ion-text>
        <ion-text>
          <h3>Harga:Rp. 145.000,-/pcs</h3> 
        </ion-text>
        </div>    
      </ion-card>
      <ion-card>
        <ion-item>
          ongkos kirim : Rp. 15.000,-
        </ion-item>
        <ion-item>
          Total Harga  : Rp. 160.000,-
        </ion-item>
      </ion-card>
      <button value="checkout">CHECKOUT</button>
</ion-content>
